@font-face {
    font-family: 'Overpass';
    src: url('../../fonts/Overpass-Bold.woff2') format('woff2'),
        url('../../fonts/Overpass-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('../../fonts/Overpass-Medium.woff2') format('woff2'),
        url('../../fonts/Overpass-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('../../fonts/Overpass-Regular.woff2') format('woff2'),
        url('../../fonts/Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

