header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    padding: 0 50px;
    background-color: $primary-color;
    position: relative;

    *{
        color: white;
    }

    @include respond-below(sm){
        padding: 0 30px;
    }

    .logo{
        a{
            img{
                @include respond-below(sm){
                    max-width: 9rem;
                }

                @include respond-below(xs){
                    max-width: 7rem;
                }
            }
        }
    }

    .mobile-search{
        @include flex-center;
        position: absolute;
        top: 7rem;
        left: -100vw;
        width: 100%;
        height: 20vh;
        // background-color: $secondary-color;
        background-color: rgba($secondary-color,0.8);
        backdrop-filter: blur(5px);
        // opacity: 50%;
        transition: .8s ease-out;

        @include respond-below(xs){
            padding: 0 30px;
        }

        .search-area{
            button{
                @include search-button;
            }
        }
    }
    
    .nav-bar{
        ul{
            transition: .5s;

            @include respond-below(md){
                position: absolute;
                top: 7rem;
                width: 100%;
                height: 100vh;
                left: -100vw;
                text-align: center;
                background-color: $secondary-color;
            }
            
            @include respond-above(md){
                display: flex;
            }

            li{
                margin: 3rem 0;
                @include respond-above(md){
                    margin: 0 2.5rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                }

                .search-area{
                    input.form-control:focus {
                        border-color: #fff ;
                        box-shadow: none;
                    }


                }
            }

            #cart-icon{
                @include respond-above(md){
                    display: none;
                }
            }

            #search{
                display: none;

                @include respond-above(md){
                    display: list-item;
                }

                .search-area{
                    button{
                        @include search-button;
                    }

                }
            }
        }
    }

    .icon-area{
        display: flex;
        gap: 13px;

        .search-icon{
            @include respond-above(md){
                display: none;
            }
        }

        .cart-icon{
            @include respond-below(md){
                display: none;
            }
        }

        .menu-icon{
            @include respond-above(md){
                display: none;
            }
        }

        input[type=checkbox]{
            display: none;
        }
    }
}